<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppTrak.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <AppTrak.Properties.Settings>
            <setting name="UseDefaultResume" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultResumeLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="UseDefaultCoverLetter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultCoverLetterLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSearchPage" serializeAs="String">
                <value>http://www.Google.com</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>Anonymous</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Anonymous</value>
            </setting>
            <setting name="SendAnonymousData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StoreDataOnServer" serializeAs="String">
                <value>False</value>
            </setting>
        </AppTrak.Properties.Settings>
    </userSettings>
</configuration>
